[submodule "third_party/brotli"]
	path = third_party/brotli
	url = https://github.com/google/brotli.git
	ignore = dirty
[submodule "third_party/woff2"]
	path = third_party/woff2
	url = https://github.com/google/woff2.git
