[submodule "third_party/brotli"]
	path = third_party/brotli
	url = https://github.com/google/brotli.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = http://chromium.googlesource.com/chromium/src/third_party/zlib.git
